@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-9safus');
	src:url('fonts/icomoon.eot?#iefix-9safus') format('embedded-opentype'),
		url('fonts/icomoon.woff?-9safus') format('woff'),
		url('fonts/icomoon.ttf?-9safus') format('truetype'),
		url('fonts/icomoon.svg?-9safus#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//iconos
.icon-buscar:before 
	content "\e600"
	font-size 1.5em
.icon-googleplus:before 
	content "\e601"
	font-size 2em

.icon-facebook:before 
	content "\e602"
	font-size 2em

.icon-twitter:before 
	content "\e603"
	font-size 2em

.icon-div
	text-align center
.cursor
	cursor pointer
	-webkit-transition 0.5s ease
	&:hover
		color white
//iconos

body
	//background #CFEBFF 
	background url("fondo.jpg")
	width 100%
	margin 0
	font-size 16px

	
#contenedor_global
	
	width 80%
	margin 0 auto

header
	background rgba(0, 204, 255, 0.6)
	padding-top 2em
	padding-bottom 6em
	position relative
	border 5px solid rgb(41, 161, 179)
	font-family 'Candal', sans-serif
h1
	color white
	text-align center
	font-size 3em
	
.logo 
		width 250px
		height 250px
		margin 0
		top 0.3em
		left 0.2em
		position absolute
		img
			width 100%
			border-radius 50%


			//header

.contenedor_notas
	position relative
	background rgba(0, 204, 255, 0.6)
	padding 0.5em
	margin-top 1em
	border: 5px solid rgb(41, 161, 179)
.notas
	width 60%
	background #64A5B9
	margin-top 1em
.social

	width 30%
	top 0
	position absolute
	overflow hidden
	right  0
	margin-right 2em
	margin-top .5em
	border-left 2px solid #339296
	font-family 'Candal', sans-serif

.padding
		padding-bottom 0.5em
		padding-left 0.5em

h2
	color white
	background #3692BD
	text-align center
//BOTONERRA
li
	list-style none
	display inline-block

.botones_a
	text-decoration none
	background #2d3033
	padding 0.5em 1em
	display block
	color white
	width 5em
	text-align center
	text-transform uppercase
	margin-right 2em
	//border-bottom 5px solid transparent
	//border-right 5px solid transparent
	border 1px solid
	border-radius 10px
	-webkit-transition 0.3s ease
	&:hover
		border 1px solid transparent
		color #B1B1B1


		//border-bottom 5px solid 
		//border-right 5px solid

.texto_p 
		font-weight bold

	//BOTONERA

.p_social
	color white
	font-weight bold
	font-size	1.2em
	text-align center

.botonera
	position absolute
	left 20em
	bottom -0.5em


//form
form
	width 80%
	margin 0 auto
.ftexto
	padding 0.2em
	font-size 1.5em
	border 1px solid rgb(103, 103, 109)
	border-radius 10px
	&:focus
		border 1px solid white

#btn_submit
	
	
	margin-left 0.5em
	background #2D3033
	padding 0.5em
	color #9C9999
	font-size 1em
	cursor pointer
	border-radius 10px
	&:hover
		color white
.width
	width 100%
.li_regi
	font-size 1.2em
	text-decoration underline
	cursor pointer
		
.titulos
	font-family 'Open Sans', sans-serif;

.registro
	width 30%
	background black
	position absolute
	right 0
	bottom 0
	display none
	-webkit-transition 1s ease
	border-radius 10px
	padding 0.5em
	&:focus
		border 1px white



		//ventana animes


.anim_foto
	width 100%
.img_anim
	display inline-block
	margin 0.2em
	background rgb(42, 99, 117)
	padding 0.2em
	width 30%
	cursor pointer
	&:hover
		box-shadow rgba(0,0,0,0.5)5px 5px 30px
		opacity 0.9
.contenedor_img
	margin-left 1.7em
	width 60%
.titulo_anim
	margin 0
	padding 0
	text-align center
	font-weight bold
	color white

		
.img_principal
	width 80%
	margin 0.2em
	background rgb(42, 99, 117)
	padding 0.2em
	margin 0 auto
	margin-bottom 2em

.opciones_genero
	width 60%
	border 1px solid #3F8DB9
.link_genero
	color white
	font-size 1.5em
	padding 0.2em
	display block
	text-decoration none
	-webkit-transition 0.3s ease
	&:hover
		background #3F8DB9
.genero
	width 60%
.opciones_genero
	width 80%
	margin 0 auto
.li_genero
	min-width 120px


	//vetnana_animes

	//foro


.cajas_conte
	background #288F7E

.cajas
	border 2px solid white
	padding  1.5em 1em
	margin-bottom 0.5em
	position relative


.inline
	display inline-block
.tit_h3
	border-bottom 1px solid white
	border-left 1px solid white
	margin 0

.ultimo_caja
	position absolute
	right 0
	top 0

.caja_nuevo
	position absolute
	left 0
	top 0


@media screen and (max-width: 1230px){

#contenedor_global{
	width:100%;
}

}