@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?mj1359');
	src:url('fonts/icomoon.eot?#iefixmj1359') format('embedded-opentype'),
		url('fonts/icomoon.woff?mj1359') format('woff'),
		url('fonts/icomoon.ttf?mj1359') format('truetype'),
		url('fonts/icomoon.svg?mj1359#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
	font-size 1.2em
	margin-right 4em
	

}
.icon-twitter:before {
	content: "\e601";
	font-size 1.2em
}

.cursor
	cursor pointer
	top 0.5em
	&:hover
		color white

body
	margin 0
	width 100%
	font-size 16px
	background rgb(41, 45, 46)
	font-family 'Noto Sans', sans-serif
.cabecera
	width 95%
	background rgb(28, 54, 71)
	margin auto
	position relative
	margin-top 4em
.logo_p
	margin 0
	display inline-block
.logo
	width  250.5px
	height 119.5px
	width 250.5px
	padding 0.5em 0 1em 0.5em
form
	position absolute
	right 0
	top 2em
	width 600px
li
	display inline-block
label
	margin-top 0.5em
	color white
	font-size 1.3em
#text
	padding 0.3em 0.2em
	border none
	font-size 1em
	margint-bottom 0.5em
#btn
	padding 0.4em 0.7em
	font-size 1em
	background #140E0E
	color #8B8484
	cursor pointer	
	border none
	font-family 'Montserrat', sans-serif
.seccion
	background #08090C
	width 95%
	margin auto
	margin-top 1em
	padding-bottom 1em
.contenedor
	width 100%
	padding-top 12em
ul
	display inline-block
nav
	width 100%
	margin auto
	position fixed
	top 0
	z-index 1
	background rgb(41, 45, 46)
.boton
	color #8b8484
	text-decoration none
	font-size 1.2em
	font-family: 'Montserrat', sans-serif;
	cursor pointer
	&:hover
		color white
.portada
	width 100%
	padding-top 0.2em

.primera_p 
	width 30%
	margin 1em
	display inline-block
	position relative
.enlace_p
	width 75%
	margin 1em
	background white
.destacados_p
	width 100%
	margin 0
.titulos
	background #1c3647
	padding 0.5em 1.5em 0.5em 4em
	width 100px
	position relative
	color white
.titulos::after
		content ""
		border-right 25px solid transparent
		border-top 2.4em solid #1c3647
		top 0
		left 100%
		position absolute

.cuadros_enlaces
	background black
	position absolute
	opacity 0
	bottom 0.2em
	cursor pointer
	&:hover
		opacity 0.8
	
.letras
	padding .5em
	text-align justify
	font-size 0.9em
	margin 0
	color white
h3
	padding .5em
	margin 0
	color white
.imagen
	width 100%
span
	color #8b8484
	text-align right
	font-size 1.2em
	position absolute
	right 2em
